##Data Cleaning
##Advanced Survival and Risk Analysis 
    
****IN PROGRESS****

In [1]:
# importing packages
import pandas as pd 
import numpy as np
import difflib as diff


# loading the data frame 
score = pd.read_excel('~/Desktop/unsw/Projects/Data Cleaning/Training_data.xlsx')

Now lets analyse the head of the data to see what it does look like:

In [2]:
#analysing the head of the data
score.head()

,Fruit_Ate,Name,Why_Eat,Where_Eat,How_Fast_Eat,Time_Eatten,Score
0,lychee,Jacky,Lunch or dI_%nner substI_%tute,Home,NaN,4,44459
1,strawberry,Nicholai,Yu34@mmy so ate it,Family,normally,4,24223.1
2,nectarine,Rachel,Hungry so ate anything,"H""$""nging out",slowly,5,30535.4
3,lychee,Da!!Niel,Lunch or dinner substitute,Home,normally,7,23532.1
4,lychee,Daniel,Cheapest to buy,Guy/girl friend's place,slowly,14,25474.9

There are some spelling mistakes and also we need to make sure that the Time_Eatten column as well as Score column must be stored as integers as I wish to deal with numbers.

Checking the formatation of column names:

In [3]:
# checking the formatation of column names:
score.columns

Index(['Fruit_Ate', 'Name', 'Why_Eat', 'Where_Eat', 'How_Fast_Eat',
       'Time_Eatten', 'Score'],
      dtype='object')

Analysing basic information about data such as type of column and non-null entries:

In [4]:
#analysing basic information about data
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Data columns (total 7 columns):
Fruit_Ate       36865 non-null object
Name            36864 non-null object
Why_Eat         36889 non-null object
Where_Eat       36881 non-null object
How_Fast_Eat    36841 non-null object
Time_Eatten     36884 non-null object
Score           37380 non-null object
dtypes: object(7)
memory usage: 2.0+ MB

Both Time_Eatten and Score columns are stored as object, therefore we have to change it to integer type.

In [5]:
# counting the number of times that each different value appear:
score.Time_Eatten.value_counts(dropna=False)

16      1596
17      1576
5       1576
13      1564
2       1545
20      1545
12      1542
10      1541
4       1538
18      1535
22      1535
3       1529
24      1521
9       1514
6       1513
19      1510
1       1496
15      1490
11      1485
7       1482
14      1474
23      1466
21      1455
8       1454
NaN      616
NILL     190
???      174
--        38
Name: Time_Eatten, dtype: int64

From that we can see that the observations such as 'Nan', 'NILL', '???' and '--' should be all Nan type which corresponds to missing values. Changing this observations to Nan:

In [6]:
# grouping 'NILL', '--' and '???' into the missing values:
missing_values_char = ['NaN', 'NILL', '???', '--']
score['Time_Eatten'].replace(missing_values_char, np.nan, inplace=True)

In [7]:
# counting the number of times that each different value appear:
score.Time_Eatten.value_counts(dropna=False)

 16.0    1596
 17.0    1576
 5.0     1576
 13.0    1564
 2.0     1545
 20.0    1545
 12.0    1542
 10.0    1541
 4.0     1538
 22.0    1535
 18.0    1535
 3.0     1529
 24.0    1521
 9.0     1514
 6.0     1513
 19.0    1510
 1.0     1496
 15.0    1490
 11.0    1485
 7.0     1482
 14.0    1474
 23.0    1466
 21.0    1455
 8.0     1454
NaN      1018
Name: Time_Eatten, dtype: int64

Checking the type of data stored in Time_Eatten column:

In [8]:
# checking the type of data stored in Time_Eatten column:
score.Time_Eatten.dtype

dtype('float64')

Now we can see that the type of Time_Eatten column has changed to type float automatically. This occured because, previously, the entries corresponded to '???', 'NILL' and '--' was being stored as object as they are strings, so once I changed this entries python recognized the column as type float.

I am assuming that all columns in the dataframe will also have entries such '--', 'NILL' and '???' as we had this same pattern on other columns on the dataframe. So we can just change such entries all at once:

In [9]:
#replacing all '--', 'NILL' and '???' chars by a missing value type entry
score.replace(missing_values_char, np.nan, inplace=True)

score.head(10)

,Fruit_Ate,Name,Why_Eat,Where_Eat,How_Fast_Eat,Time_Eatten,Score
0,lychee,Jacky,Lunch or dI_%nner substI_%tute,Home,NaN,4.0,44458.971819
1,strawberry,Nicholai,Yu34@mmy so ate it,Family,normally,4.0,24223.130916
2,nectarine,Rachel,Hungry so ate anything,"H""$""nging out",slowly,5.0,30535.367307
3,lychee,Da!!Niel,Lunch or dinner substitute,Home,normally,7.0,23532.139183
4,lychee,Daniel,Cheapest to buy,Guy/girl friend's place,slowly,14.0,25474.862526
5,banana,Blake,Forced to eat it,Family,slowly,4.0,26105.745075
6,raspberry,Shu34@ning,Lu34@nch or dinner su34@bstitu34@te,Guy/girl friend's place,slowly,14.0,28053.993205
7,Loga!!N,Nicholai,Yummy so ate I_%t,Guy/girl friend's place,slowly,10.0,25183.235745
8,kiwi,Rachel,Forced to eat it,"H""$""nging out",quickly,19.0,522.313228
9,apple,"Rich""$""rd",Hungry so ate anything,NaN,NORMALLY,16.0,1430.848268

Checking all column types:

In [10]:
#analysing basic information about data
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Data columns (total 7 columns):
Fruit_Ate       36451 non-null object
Name            36451 non-null object
Why_Eat         36456 non-null object
Where_Eat       36476 non-null object
How_Fast_Eat    36445 non-null object
Time_Eatten     36482 non-null float64
Score           37258 non-null float64
dtypes: float64(2), object(5)
memory usage: 2.0+ MB

Now we have Time_Eatten and Score columns stored as floats as we needed.

Now we change all strings on the data frame into lower case in order to fix possible differences in entries given by the size of the letters.

In [11]:
string_type_columns = ['Fruit_Ate', 'Name', 'Why_Eat', 'Where_Eat', 'How_Fast_Eat']

for column in string_type_columns:
    score[column] = score[column].str.lower()

# printing the head of the dataframe to check the changes:
score.head()

,Fruit_Ate,Name,Why_Eat,Where_Eat,How_Fast_Eat,Time_Eatten,Score
0,lychee,jacky,lunch or di_%nner substi_%tute,home,NaN,4.0,44458.971819
1,strawberry,nicholai,yu34@mmy so ate it,family,normally,4.0,24223.130916
2,nectarine,rachel,hungry so ate anything,"h""$""nging out",slowly,5.0,30535.367307
3,lychee,da!!niel,lunch or dinner substitute,home,normally,7.0,23532.139183
4,lychee,daniel,cheapest to buy,guy/girl friend's place,slowly,14.0,25474.862526

Checking the different types of fruit stored in Fruit_Ate column:

In [12]:
# counting occurence of each different fruit:
score.Fruit_Ate.value_counts(dropna=False)

lychee          2275
rockmelon       2256
kiwi            2217
raspberry       2168
peach           2148
grape           2110
logan           2105
apple           2105
pear            2103
orange          2103
strawberry      2085
watermelon      2045
banana          2033
nectarine       1924
durian          1894
jackfruit       1832
NaN             1049
jackfrui_%t      114
pea!!r           114
log"$"n          113
a!!pple          110
gr"$"pe          106
wa!!termelon     106
pe"$"ch          105
j"$"ckfruit      105
loga!!n          101
gra!!pe          101
ora!!nge          99
duria!!n          99
duri_%an          99
pe"$"r            98
str"$"wberry      95
necta!!rine       94
nect"$"rine       91
du34@rian         91
ja!!ckfruit       91
w"$"termelon      90
ra!!spberry       89
jackfru34@it      89
r"$"spberry       88
or"$"nge          87
stra!!wberry      87
ki_%wi_%          86
b"$"n"$"n"$"      86
ba!!na!!na!!      86
"$"pple           85
pea!!ch           84
nectari_%ne       81
duri"$"n          78
Name: Fruit_Ate, dtype: int64

From that I could see that there are some values stored as 'nill' which I didnt include on the list of missing_values_char. So I will include this value on the list, and substitute 'nill' by np.nan in the whole data frame.

In [13]:
#including 'nill' into missing_values_char list:
missing_values_char.append('nill')

#checking if missing_values_char list is modified the way that i expect:
print(missing_values_char)

['NaN', 'NILL', '???', '--', 'nill']

Now we change 'nill' to a missing value in the whole data frame:

In [14]:
#replacing all 'nill' chars by a missing value type entry
score.replace(missing_values_char, np.nan, inplace=True)

Checking the Fruit_Ate column values to see what is changed:

In [15]:
# counting occurence of each different fruit:
score.Fruit_Ate.value_counts(dropna=False)

lychee          2275
rockmelon       2256
kiwi            2217
raspberry       2168
peach           2148
grape           2110
logan           2105
apple           2105
pear            2103
orange          2103
strawberry      2085
watermelon      2045
banana          2033
nectarine       1924
durian          1894
jackfruit       1832
NaN             1049
jackfrui_%t      114
pea!!r           114
log"$"n          113
a!!pple          110
gr"$"pe          106
wa!!termelon     106
pe"$"ch          105
j"$"ckfruit      105
loga!!n          101
gra!!pe          101
ora!!nge          99
duria!!n          99
duri_%an          99
pe"$"r            98
str"$"wberry      95
necta!!rine       94
nect"$"rine       91
du34@rian         91
ja!!ckfruit       91
w"$"termelon      90
ra!!spberry       89
jackfru34@it      89
r"$"spberry       88
or"$"nge          87
stra!!wberry      87
ki_%wi_%          86
b"$"n"$"n"$"      86
ba!!na!!na!!      86
"$"pple           85
pea!!ch           84
nectari_%ne       81
duri"$"n          78
Name: Fruit_Ate, dtype: int64

It is clear that just by removing non-alphabetic characters we are able to get a correct name for fruits in some cases such as 'ora!!nge' which we get 'orange' after removing these non-alphabetic characters. And I will do that on the whole data set, since it is a common issue in another columns as well, as we can see bellow:

In [16]:
score.head()

,Fruit_Ate,Name,Why_Eat,Where_Eat,How_Fast_Eat,Time_Eatten,Score
0,lychee,jacky,lunch or di_%nner substi_%tute,home,NaN,4.0,44458.971819
1,strawberry,nicholai,yu34@mmy so ate it,family,normally,4.0,24223.130916
2,nectarine,rachel,hungry so ate anything,"h""$""nging out",slowly,5.0,30535.367307
3,lychee,da!!niel,lunch or dinner substitute,home,normally,7.0,23532.139183
4,lychee,daniel,cheapest to buy,guy/girl friend's place,slowly,14.0,25474.862526

In [17]:
# removing all non-alphabetic characters from the whole data frame
score.replace(r'[^a-zA-Z\s]', "", regex=True, inplace=True)

Now we check if it made the changes that we expect:

In [18]:
# checking what is changed:
score.head()

,Fruit_Ate,Name,Why_Eat,Where_Eat,How_Fast_Eat,Time_Eatten,Score
0,lychee,jacky,lunch or dinner substitute,home,NaN,4.0,44458.971819
1,strawberry,nicholai,yummy so ate it,family,normally,4.0,24223.130916
2,nectarine,rachel,hungry so ate anything,hnging out,slowly,5.0,30535.367307
3,lychee,daniel,lunch or dinner substitute,home,normally,7.0,23532.139183
4,lychee,daniel,cheapest to buy,guygirl friends place,slowly,14.0,25474.862526

Checking the Fruit_Ate column:

In [19]:
# counting occurence of each different fruit:
score.Fruit_Ate.value_counts(dropna=False)

kiwi          2303
lychee        2275
raspberry     2257
rockmelon     2256
peach         2232
pear          2217
apple         2215
grape         2211
logan         2206
orange        2202
durian        2183
strawberry    2172
watermelon    2151
jackfruit     2126
banana        2119
nectarine     2099
NaN           1049
logn           113
grpe           106
jckfruit       105
pech           105
per             98
strwberry       95
nectrine        91
wtermelon       90
rspberry        88
ornge           87
bnn             86
pple            85
durin           78
Name: Fruit_Ate, dtype: int64

Now we need to fix the spelling mistakes, so we will create a list to store the correct names for fruits, then we will create a new column to store the fixed names and lastly we will add the correct names into this new column:

In [20]:
# fruits list to store the name of the fruits
fruits = ['kiwi',
          'lychee',
          'raspberry',
          'rockmelon',
          'peach',
          'pear',
          'apple',
          'grape',
          'logan',
          'orange',
          'durian',
          'strawberry',
          'watermelon',
          'jackfruit',
          'banana',
          'nectarine']

In [21]:
# changing missing values from np.nan to empty string ""
score['Fruit_Ate'] = score['Fruit_Ate'].fillna("")

# creating a new column to store the corrected names:
score['Fruit_Ate_New'] = score['Fruit_Ate'] 


# checking if it worked as expected
score.Fruit_Ate_New.value_counts(dropna=False)

kiwi          2303
lychee        2275
raspberry     2257
rockmelon     2256
peach         2232
pear          2217
apple         2215
grape         2211
logan         2206
orange        2202
durian        2183
strawberry    2172
watermelon    2151
jackfruit     2126
banana        2119
nectarine     2099
              1049
logn           113
grpe           106
jckfruit       105
pech           105
per             98
strwberry       95
nectrine        91
wtermelon       90
rspberry        88
ornge           87
bnn             86
pple            85
durin           78
Name: Fruit_Ate_New, dtype: int64

In [22]:
fixed_fruits = { fruit : diff.get_close_matches(fruit, fruits, n=1, cutoff=0.6) for fruit in score.Fruit_Ate }

try:
    score['Fruit_Ate_New'] = update(pd.Series(fixed_fruits))
except:
    score['Fruit_Ate_New'].update(pd.Series(""))

score.head()

,Fruit_Ate,Name,Why_Eat,Where_Eat,How_Fast_Eat,Time_Eatten,Score,Fruit_Ate_New
0,lychee,jacky,lunch or dinner substitute,home,NaN,4.0,44458.971819,
1,strawberry,nicholai,yummy so ate it,family,normally,4.0,24223.130916,strawberry
2,nectarine,rachel,hungry so ate anything,hnging out,slowly,5.0,30535.367307,nectarine
3,lychee,daniel,lunch or dinner substitute,home,normally,7.0,23532.139183,lychee
4,lychee,daniel,cheapest to buy,guygirl friends place,slowly,14.0,25474.862526,lychee

Analysing the name column to see what it does look like:

In [23]:
# count the occurence of the same names
score.Name.value_counts(dropna=False)

saksham     3980
shuning     3976
blake       3959
nicholai    3955
daniel      3850
dean        3849
jacky       3846
rachel      3841
richard     3835
NaN         1049
rchel        193
nicholi      182
skshm        172
den          172
richrd       169
jcky         159
blke         159
dniel        154
Name: Name, dtype: int64

Fixing the names:

In [24]:
names = ['saksham',
        'shuning',
        'blake',
        'nicholai',
        'daniel',
        'dean',
        'jacky',
        'rachel',
        'richard']


# changing missing values from np.nan to empty string ""
score['Name'] = score['Name'].fillna("")

# creating a new column to store the corrected names:
score['Name_copy'] = score['Name']

# checking if it worked as expected
score.Name_copy.value_counts(dropna=False)

saksham     3980
shuning     3976
blake       3959
nicholai    3955
daniel      3850
dean        3849
jacky       3846
rachel      3841
richard     3835
            1049
rchel        193
nicholi      182
skshm        172
den          172
richrd       169
jcky         159
blke         159
dniel        154
Name: Name_copy, dtype: int64

In [25]:
fixed_names = { name : diff.get_close_matches(name, names, n=1, cutoff=0.6) for name in score.Name }

try:
    score['Name_copy'] = score['Name'].map(fixed_names)
except:
    score['Name_copy'] = score['Name'].update(pd.Series(""))

print(score.Name_copy)
# score.Name_copy.value_counts(dropna=False)

0           [jacky]
1        [nicholai]
2          [rachel]
3          [daniel]
4          [daniel]
5           [blake]
6         [shuning]
7        [nicholai]
8          [rachel]
9         [richard]
10           [dean]
11        [richard]
12        [richard]
13         [daniel]
14          [jacky]
15        [saksham]
16         [rachel]
17          [blake]
18          [blake]
19         [rachel]
20        [richard]
21         [daniel]
22       [nicholai]
23           [dean]
24         [rachel]
25        [saksham]
26        [shuning]
27         [daniel]
28        [richard]
29          [jacky]
            ...
37470     [richard]
37471      [daniel]
37472     [richard]
37473     [saksham]
37474     [richard]
37475      [rachel]
37476     [richard]
37477     [shuning]
37478      [rachel]
37479      [daniel]
37480      [rachel]
37481      [daniel]
37482     [shuning]
37483      [rachel]
37484       [blake]
37485      [daniel]
37486     [richard]
37487     [shuning]
37488     [richard]
37489      [rachel]
37490     [shuning]
37491     [shuning]
37492     [saksham]
37493    [nicholai]
37494    [nicholai]
37495       [blake]
37496      [rachel]
37497     [shuning]
37498      [daniel]
37499      [daniel]
Name: Name_copy, Length: 37500, dtype: object

Analysing the How_Fast_Eat column:

In [26]:
# checking frequency of values in eating_velocity column:
score.How_Fast_Eat.value_counts(dropna=False)

quickly     12225
slowly      11961
normally    11758
NaN          1055
normlly       501
Name: How_Fast_Eat, dtype: int64

Dropping non aphanumeric characters in How_Fast_Eat column and changing Nan to "":

In [27]:
score['How_Fast_Eat'] = score['How_Fast_Eat'].fillna("")

score.How_Fast_Eat.value_counts()

quickly     12225
slowly      11961
normally    11758
             1055
normlly       501
Name: How_Fast_Eat, dtype: int64

Now we change the spelling mistake in How_Fast_Eat where it is equal "normlly" into "normally"

In [28]:
score[score.How_Fast_Eat == 'normlly'] = 'normally'

score.How_Fast_Eat.value_counts(dropna=False)

normally    12259
quickly     12225
slowly      11961
             1055
Name: How_Fast_Eat, dtype: int64

Now I want to clean Why_Eat column. Cheking the frequency counts of each different entry:

In [29]:
# checking the frequency counts of each entry:
score.Why_Eat.value_counts()

stressed from tests           5183
nothing else to eat           4996
lunch or dinner substitute    4993
hungry so ate anything        4979
forced to eat it              4929
yummy so ate it               4925
cheapest to buy               4886
normally                       501
nothing else to et             234
hungry so te nything           229
forced to et it                213
yummy so te it                 207
chepest to buy                 193
Name: Why_Eat, dtype: int64

In [30]:
why_eat = ['stressed from tests',
        'nothing else to eat',
        'lunch or dinner substitute',
        'hungry so ate anything',
        'forced to eat it',
        'yummy so ate it',
        'cheapest to buy',
        'normally']


# changing missing values from np.nan to empty string ""
score['Why_Eat'] = score['Why_Eat'].fillna("")

# creating a new column to store the corrected reason for eatting:
score['why_eat_copy'] = score['Why_Eat']

# checking if it worked as expected
score.why_eat_copy.value_counts(dropna=False)

stressed from tests           5183
nothing else to eat           4996
lunch or dinner substitute    4993
hungry so ate anything        4979
forced to eat it              4929
yummy so ate it               4925
cheapest to buy               4886
                              1032
normally                       501
nothing else to et             234
hungry so te nything           229
forced to et it                213
yummy so te it                 207
chepest to buy                 193
Name: why_eat_copy, dtype: int64

In [33]:
fixed_reason = { reason : diff.get_close_matches(reason, why_eat, n=1, cutoff=0.6) for reason in score.Why_Eat }

try:
    score['why_eat_copy'] = score['Why_Eat'].map(fixed_reason)
except:
    score['why_eat_copy'] = score['Why_Eat'].update(pd.Series(""))

print(score.why_eat_copy)

0        [lunch or dinner substitute]
1                   [yummy so ate it]
2            [hungry so ate anything]
3        [lunch or dinner substitute]
4                   [cheapest to buy]
5                  [forced to eat it]
6        [lunch or dinner substitute]
7                   [yummy so ate it]
8                  [forced to eat it]
9            [hungry so ate anything]
10                  [yummy so ate it]
11                  [yummy so ate it]
12                 [forced to eat it]
13                  [cheapest to buy]
14                  [cheapest to buy]
15                 [forced to eat it]
16              [nothing else to eat]
17       [lunch or dinner substitute]
18                         [normally]
19                 [forced to eat it]
20                 [forced to eat it]
21                                 []
22                  [yummy so ate it]
23                  [yummy so ate it]
24           [hungry so ate anything]
25              [stressed from tests]
26                  [cheapest to buy]
27                  [cheapest to buy]
28       [lunch or dinner substitute]
29                 [forced to eat it]
                     ...
37470              [forced to eat it]
37471               [cheapest to buy]
37472               [cheapest to buy]
37473           [stressed from tests]
37474        [hungry so ate anything]
37475        [hungry so ate anything]
37476    [lunch or dinner substitute]
37477           [stressed from tests]
37478               [yummy so ate it]
37479           [nothing else to eat]
37480           [stressed from tests]
37481    [lunch or dinner substitute]
37482           [stressed from tests]
37483    [lunch or dinner substitute]
37484              [forced to eat it]
37485           [nothing else to eat]
37486           [nothing else to eat]
37487           [nothing else to eat]
37488               [cheapest to buy]
37489               [yummy so ate it]
37490               [cheapest to buy]
37491              [forced to eat it]
37492               [cheapest to buy]
37493    [lunch or dinner substitute]
37494        [hungry so ate anything]
37495        [hungry so ate anything]
37496               [cheapest to buy]
37497           [nothing else to eat]
37498        [hungry so ate anything]
37499               [yummy so ate it]
Name: why_eat_copy, Length: 37500, dtype: object

Checking the final outcome:

In [35]:
score.head()

,Fruit_Ate,Name,Why_Eat,Where_Eat,How_Fast_Eat,Time_Eatten,Score,Fruit_Ate_New,Name_copy,why_eat_copy
0,lychee,jacky,lunch or dinner substitute,home,,4,44459,,[jacky],[lunch or dinner substitute]
1,strawberry,nicholai,yummy so ate it,family,normally,4,24223.1,strawberry,[nicholai],[yummy so ate it]
2,nectarine,rachel,hungry so ate anything,hnging out,slowly,5,30535.4,nectarine,[rachel],[hungry so ate anything]
3,lychee,daniel,lunch or dinner substitute,home,normally,7,23532.1,lychee,[daniel],[lunch or dinner substitute]
4,lychee,daniel,cheapest to buy,guygirl friends place,slowly,14,25474.9,lychee,[daniel],[cheapest to buy]

From that we see that the data cleaning is almost completed, but there still room for improvements.